body {
    background-color: black;
}

#board {
    margin: 0 auto;
    margin-top: 100px;
    
    width: 600px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33%;
    /*background-color: red;*/
}

.square {
    width: 33%;
    height: 100%;
    color: white;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;
    /*background-color: red;*/
}

.right-border {
    border-right: 5px solid #0f8ade;
}

.bottom-border {
    border-bottom: 5px solid #0f8ade;
}

.extras {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.info {
    font-size: 26px;
    color: white;
}

#reset {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    font-size: 26px;
    color: white;
}